<div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
</div>

<div class="jumbotron text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-lg-2">
          <object type="image/svg+xml" data="assets/images/africa.svg" class="logoimage"></object>
          
      </div>  
      <div class="col-xs-12 col-sm-9 col-lg-10">
          <h1>ACA Online Cubing Competition</h1>
          <p class="lead">
            by the <a href="http://africancubing.org">African Cubing Association</a>.
          </p>  
          
          <a href="https://www.facebook.com/groups/speedcube.southafrica/" target="_blank"
            class="btn btn-social btn-facebook" role="button">
            <span class="fa fa-facebook"></span> 
            Join our Facebook Group
          </a>
      </div>
    </div>  
  </div> 
</div>   

<div class="container" ng-controller="CompController as comp">
    <div ng-If="!comp.hasScrambles">
        <div class="alert alert-info" ng-If="comp.isLoading">
            Fetching this week's scrambles. Please wait...
        </div>
        <div class="alert alert-danger" ng-If="!comp.isLoading">
            <strong>ERROR:</strong> Could not connect to the server to retrieve scrambles. Please try again later. If the problem persists, please report it.
        </div>
    </div>
  <div class="row" ng-If="comp.hasScrambles">
  
  	<div class="col-xs-12 col-lg-3">
  	  <div class="panel panel-default">
  	  
  		  <div class="panel-heading centre-panel-heading">
  		  	<h4>Select Your Events</h4>
  		  </div>
  		  
  		  <div class="panel-body">
		    
		    <div class="event-select col-xs-6 col-md-3 col-lg-12">
		
		      <h4>NxNxN Cubes</h4>
		     		     
		      
		      <div class="btn-group btn-block btn-group-vertical cube-buttons" data-toggle="buttons">
		  		<label class="btn btn-default btn-social">
		  		    <span class="cubing-icon event-222"></span> 2x2
		          	<input type="checkbox">            	
		  		</label>
		  		<label class="btn btn-default btn-social">
		  			<span class="cubing-icon event-333"></span> 3x3
		    		<input type="checkbox"> 
		  		</label>
		  		<label class="btn btn-default btn-social">
		  			<span class="cubing-icon event-444"></span> 4x4
		    		<input type="checkbox"> 
		  		</label>  		
		  		<label class="btn btn-default btn-social">
		  			<span class="cubing-icon event-555"></span> 5x5
		    		<input type="checkbox"> 
		  		</label>
		  		<label class="btn btn-default btn-social">
		  			<span class="cubing-icon event-666"></span> 6x6
		    		<input type="checkbox"> 
		  		</label>
		  		<label class="btn btn-default btn-social">
		  			<span class="cubing-icon event-777"></span> 7x7
		    		<input type="checkbox"> 
		  		</label>
		   	  </div>      
		      
		    </div>
		    
		    <div class="event-select col-xs-6 col-md-3 col-lg-12">
		
		      <h4>Other puzzles</h4>
		      
		      <div class="btn-group btn-block btn-group-vertical cube-buttons" data-toggle="buttons">
		  		<label class="btn btn-block btn-default btn-social">
		  		    <span class="cubing-icon event-pyram"></span> Pyraminx
		          	<input type="checkbox">            	
		  		</label>
		  		<label class="btn btn-default btn-social">
		  			<span class="cubing-icon event-minx"></span> Megaminx
		    		<input type="checkbox"> 
		  		</label>
		  		<label class="btn btn-default btn-social">
		  			<span class="cubing-icon event-skewb"></span> Skewb
		    		<input type="checkbox"> 
		  		</label>  		
		  		<label class="btn btn-default btn-social">
		  			<span class="cubing-icon event-sq1"></span> Square-1
		    		<input type="checkbox"> 
		  		</label>
		  		<label class="btn btn-default btn-social">
		  			<span class="cubing-icon event-clock"></span> Rubik's Clock
		    		<input type="checkbox"> 
		  		</label>
		   	  </div>  
		   	      
		    </div>
		  	
		  	<div class="clearfix visible-xs-block visible-sm-block"></div>
		    
		    <div class="event-select col-xs-6 col-md-3 col-lg-12">
		
		      <h4>Blindfolded Events</h4>
		      
		      <div class="btn-group btn-block btn-group-vertical cube-buttons" data-toggle="buttons">
		  		<label class="btn btn-block btn-default btn-social">
		  		    <span class="cubing-icon event-333bf"></span> 3x3 Blindfolded
		          	<input type="checkbox">            	
		  		</label>
		  		<label class="btn btn-default btn-social">
		  			<span class="cubing-icon event-444bf"></span> 4x4 Blindfolded
		    		<input type="checkbox"> 
		  		</label>
		  		<label class="btn btn-default btn-social">
		  			<span class="cubing-icon event-555bf"></span> 5x5 Blindfolded
		    		<input type="checkbox"> 
		  		</label>  		
		  		<label class="btn btn-default btn-social">
		  			<span class="cubing-icon event-333mbf"></span> 3x3 Multiple Blindfolded
		    		<input type="checkbox"> 
		  		</label>  		
		   	  </div>  
		      
		    </div>
	    	    
		  	<div class="event-select col-xs-6 col-md-3 col-lg-12">
		
		      <h4>3x3 Variants</h4>
		      
		      <div class="btn-group btn-block btn-group-vertical cube-buttons" data-toggle="buttons">
		  		<label class="btn btn-block btn-default btn-social">
		  		    <span class="cubing-icon event-333oh"></span> 3x3 One-Handed
		          	<input type="checkbox">            	
		  		</label>
		  		<label class="btn btn-default btn-social">
		  			<span class="cubing-icon event-333ft"></span> 3x3 with Feet
		    		<input type="checkbox"> 
		  		</label>
		  		<label class="btn btn-default btn-social">
		  			<span class="cubing-icon event-333fm"></span> Fewest Moves
		    		<input type="checkbox"> 
		  		</label>  		
		   	  </div>  
		      
		    </div>
	      </div>
	  </div>
    </div>
    

    
    <div class="col-xs-12 col-lg-9"> 
  	  <div class="panel panel-default">
  		  <div class="panel-heading centre-panel-heading">
  		  	<h4>Time Entry</h4>
  		  </div>
  		  
  		  <div class="panel-body">
  		    <div ng-repeat="event in comp.scrambles">
  		        <h4>{{event.event}}</h4>
	  		    <ol class="scramble-list">
	  		        <li ng-repeat="thisScramble in event.scrambles">
	  		           <span>{{thisScramble | cleanScramble}}</span>
  		           </li> 
	  		    </ol>
	  		    
	  		    <div class="input-group">
	  		       <input type="text" class="form-control" placeholder="Times..."/>
	  		       <span class="input-group-btn">
	  		           <button class="btn btn-primary">Submit {{event.event}} times</button>
	  		       </span>
  		       </div>

                <hr/>
            </div>
  		  </div>
  		  
      </div>    	
    </div>
    
  </div>

</div> 
